body, html {
    font-family: 'Pixelify Sans', Arial, Helvetica, sans-serif;
    background-color: #d6d6e7;
}

.gridSize {
    align-items: center;
    display: flex;
    gap: 30px;
    justify-content: center;
    font-size: large;
}

input {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    box-shadow: #d6d6e7 0 -3px 0px inset ;
}

#submit {
    padding: 5px 20px;
    font-family: 'Pixelify Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #333;
    color: #fff;
    text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0;
    z-index: 1;
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: unset;
    padding: .8rem 1.5rem;
    text-decoration: none;
    box-shadow: 
    0 -4px rgb(0 0 0 / 50%) inset, 
    0 4px rgb(255 255 255 / 20%) inset, 
    -4px 0 rgb(255 255 255 / 20%) inset, 
    4px 0 rgb(0 0 0 / 50%) inset;
    transition: 
    transform 0.15s;
}

#submit:active {
    transform: translateY(2px)
}

.notify {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 12px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drawingBoard {
    display: flex;
    width: 500px;
    height: 500px;
    display: grid;
    background-color: #191820;
    box-sizing: border-box;
    box-shadow:
    rgba(45, 35, 66, 0.2) 0 4px 8px,
    rgba(45, 35, 66, 0.15) 0 7px 13px -6px;
    border: 10px ridge rgba(171, 167, 173, 0.6);

}

.div {
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
}

.pens {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;

}

.pens button {
    width: 80px;
    height: 40px;
    box-sizing: border-box;
    align-items: center;
    background-color: #3d3a4e;
    color: white;
    border-radius: 15px;
    border: 0px;
    box-shadow: 
    rgba(45, 35, 66, 0.2) 0 2px 4px,
    rgba(45, 35, 66, 0.15) 0 7px 13px -3px,
    #191820 0 -3px 0 inset;
    transition:
    box-shadow 0.15s,
    transform 0.15s;
    will-change: box-shadow, transform;
    touch-action: manipulation;
    cursor: pointer;

}

.pens button:active {
    box-shadow: inset #191820 0 3px 7px;
    transform: translateY(2px);
}