@font-face {
    font-family: 'Pixelify';
    src: url("https://fonts.google.com/specimen/Pixelify+Sans");
}



body, html {
    font-family: 'Pixelify', Arial, Helvetica, sans-serif;
    background-color: #d6d6e7;
}

.gridSize {
    align-items: center;
    display: flex;
    gap: 30px;
    justify-content: center;
}

input {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    box-shadow: #d6d6e7 0 -3px 0px inset ;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drawingBoard {
    display: flex;
    height: 500px;
    width: 500px;
    background-color: #191820;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow:
    rgba(45, 35, 66, 0.2) 0 2px 4px,
    rgba(45, 35, 66, 0.15) 0 7px 13px -3px;

}

.div {
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
}

.pens {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;

}

.pens button {
    width: 80px;
    height: 40px;
    box-sizing: border-box;
    align-items: center;
    background-color: #3d3a4e;
    color: white;
    border-radius: 15px;
    border: 0px;
    box-shadow: 
    rgba(45, 35, 66, 0.2) 0 2px 4px,
    rgba(45, 35, 66, 0.15) 0 7px 13px -3px,
    #191820 0 -3px 0 inset;
    transition:
    box-shadow 0.15s,
    transform 0.15s;
    will-change: box-shadow, transform;
    touch-action: manipulation;

}

.pens button:active {
    box-shadow: inset #191820 0 3px 7px;
    transform: translateY(2px);
}